@import styles

$dark-bg: rgba(0,0,0,.05)

p
    font-size: 1.1em

nav > div > a
    text-decoration: none

.side-col
    padding-bottom: 2em
    padding-right: 1.5em

.side-items
    background-color: $dark-bg
    padding: 1em

.side-items p
    font-size: 1.05em

@media (max-width: 767px)
    .side-col
        padding: 0 0 0 0


.jumbotron
    background-image: url('/images/banners/alumni_17-18.jpg')
    z-index: -10
    background-attachment: fixed
    height: 65%
    width: auto
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    padding-top: 12vh

.img-responsive
    display: inline-block

.banner
  color: $white-transparent-7
  padding-bottom: 1.5vh
  font-size: 4em

#hero-img
  height: 20vh

@media (max-width: 767px)
    .banner
        font-size: 2.5em

/* optimize for larger screens */
@media (min-width: 768px)
    .embeded-item
        max-width: 60%
        margin-left: 20%

.sub-section-title
    padding-top: 1.25em

.content-text
    margin-left: 1em