$primary-color: #106300
$primary-color-transparent: rgba(16, 99, 0, .2)
$white-transparent-6: rgba(255, 255, 255, 0.6)
$white-transparent-7: rgba(255, 255, 255, 0.7)

html, body
    height: 100vh
    padding-top: 4vh

/** custom navbar CSS **/
a
    font-family: 'Crimson Text'
    font-size: 1.2em

#nav-logo
    height: 1.5em

.bg-alumni
    background-color: $primary-color

.nav-item
    color: #ffffff
    transition: 750ms
    transition-timing-function: ease-out
    
.nav-item:hover
    color: $white-transparent-6
    transition: 100ms
    transition-timing-function: ease-in


/** hero image **/

.jumbotron
    background-image: url('../images/tower-green.png')
    height: 100vh
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    padding-top: 25vh

h1
    color: $white-transparent-7
    padding-bottom: 1.5vh

.img-responsive
    display: inline-block


    